/* RESET STYLES
   ========================================================*/

h1, h2, h3, h4, h5, p, figure {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}


/* BASE STYLES
   ========================================================*/

/**
 * Web font: Roboto Condensed - regular, italic, bold, bold italic.
 */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Regular.woff') format('woff'),
       url('fonts/RobotoCondensed-Italic.woff') format('woff'),
       url('fonts/RobotoCondensed-Bold.woff') format('woff'),
       url('fonts/RobotoCondensed-BoldItalic.woff') format('woff');
}

/**
 * Web font: Trajan Pro - regular, bold.
 */
@font-face {
  font-family: 'Trajan Pro';
  src: url('fonts/TrajanPro-Regular.woff') format('woff'),
       url('fonts/TrajanPro-Bold.woff') format('woff');
}

/**
 * Web font: Immortal.
 */
@font-face {
  font-family: 'Immortal';
  src: url('fonts/Immortal.woff') format('woff');
}

/**
 * Set up default styles on the root element:
 * [1] Set main font rules
 * [2] set box-sizing to border-box
 */
html {
  box-sizing: border-box; /* [2] */
  font: 16px/1.5 Roboto Condensed; /* [1] */
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  color: #9C691E;
  font-family: Trajan Pro;
  font-weight: bold;
}

img {
  max-width: 100%;
}


/* LAYOUT
   ========================================================*/

.container {
  width: 100%;
}

.rulebook {
  background: url('images/rulebook/main-background.jpg') no-repeat fixed;
  background-size: 100% 100%;
  padding: 1rem;
}

.chapter {
  padding-top: 4.236rem;
}

.article {
  margin-top: 2.618rem;
}

/**
 * Set paragraphs flow
 */
.article > * + p {
  margin-top: 1rem;
}
