/* RESET STYLES
   ========================================================*/

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}


/* BASE STYLES
   ========================================================*/

/**
 * Web font: Roboto Condensed - regular, italic, bold, bold italic.
 */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Regular.woff') format('woff'),
       url('fonts/RobotoCondensed-Italic.woff') format('woff'),
       url('fonts/RobotoCondensed-Bold.woff') format('woff'),
       url('fonts/RobotoCondensed-BoldItalic.woff') format('woff');
}

/**
 * Web font: Trajan Pro - regular, bold.
 */
@font-face {
  font-family: 'Trajan Pro';
  src: url('fonts/TrajanPro-Regular.woff') format('woff'),
       url('fonts/TrajanPro-Bold.woff') format('woff');
}

/**
 * Web font: Immortal.
 */
@font-face {
  font-family: 'Immortal';
  src: url('fonts/Immortal.woff') format('woff');
}

/**
 * Set up default styles on the root element:
 * [1] Set main font rules
 * [2] set box-sizing to border-box
 */
html {
  box-sizing: border-box; /* [2] */
  font: 16px/1.5 Roboto Condensed; /* [1] */
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

.rulebook_reference {
  color: #FFF;
}

h2 {
  color: #9C691E;
  font-family: Trajan Pro;
  font-weight: bold;
}

h3 {
  color: #9C691E;
  font-family: Immortal;
}

h4 {
  border-bottom: 1px solid black;
  font-family: Trajan Pro;
  font-weight: bold;
}

h5 {
  font-size: 1.618rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

.rulebook_expansion h2,
.rulebook_expansion h3 {
  color: #5C6060;
}

.rulebook_reference h2 {
  color: #E5C99E;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Align bullets to content
 */
ul {
  padding-left: 1rem;
}


/* UTILITIES STYLES
   ========================================================*/
.u-trajan_font {
  font-family: Trajan Pro;
  font-weight: bold;
}

.u-flex_center {
  display: flex;
  justify-content: center;
}

.u-half_width {
  width: 50%;
}

.u-margin_auto {
  margin: auto;
}


/* LAYOUT ELEMENTS
   ========================================================*/

.container {
  width: 100%;
}

.rulebook,
.rulebook_expansion,
.rulebook_reference,
.rulebook_credits {
  background-size: 100% 100%;
  padding: 4.236rem 1rem;
}

.rulebook,
.rulebook_credits {
  background: url('images/rulebook/main-background.jpg') no-repeat fixed;
}

.rulebook_expansion {
  background: url('images/rulebook/expansion-background.jpg') no-repeat fixed; 
}

.rulebook_reference {
  background: url('images/rulebook/reference-background.jpg') no-repeat fixed; 
}

/**
 * Add space between chapters, starting from the second one.
 */
.chapter + .chapter {
  padding-top: 6.854rem;
}

.inner_content {
  margin-top: 2.618rem;
}

.inner_subcontent {
  margin-top: 1.618rem;
}

/**
 * Set a vertical flow to textual and graphic content, excluding containers
 */
.inner_content > * + *:not(.inner_content):not(.inner_subcontent),
.inner_subcontent > * + *:not(.inner_content):not(.inner_subcontent) {
  margin-top: 1rem;
}

/* Images
 *********/
.image {
  margin-top: 1.618rem;
}

.icon {
  max-width: 75px;
  width: 100%;
}

.small_icon {
  width: 25px;
}

/* Image example element
 ************************/
.image_example {
  background: linear-gradient(to right, rgba(156,105,30,1) 0%, rgba(156,105,30,0) 90%);
  padding: 2px;
}

.rulebook_expansion .image_example {
  background: linear-gradient(to right, rgba(103,119,148,1) 0%, rgba(103,119,148,0) 90%);
}

/**
 * [1] Remove an unneeded dark brown line
 */
.image_example-caption {
  background: linear-gradient(to right, rgba(170,154,134,1) 0%, rgba(170,154,134,0) 90%);
  font-style: italic;
  margin-top: -1px; /* [1] */
  padding: 0.368rem 1rem;
  position: relative;
}

.rulebook_expansion .image_example-caption {
  background: linear-gradient(to right, rgba(157,163,175,1) 0%, rgba(157,163,175,0) 90%);
}

/* Text and image inline element
 ********************************/
.text_image_inline {
  align-items: center;
  display: flex;
}

/**
 * Add a space between image and text, regardless of their order.
 */
.text_image_inline > *:last-child {
  margin-left: 1rem;
}

/* Text wrapped around image element
 ************************************/

/**
 * Image is positioned to the left
 */
.text_around_image_left > img {
  float: left;
  margin-right: 1rem;
  shape-outside: circle();
}

.text_around_image_left > img.wrapped_card,
.text_around_image_right > img.wrapped_card {
  shape-outside: none;
  width: 50%;
}

/**
 * Image is positioned to the right
 */
.text_around_image_right > img {
  float: right;
  margin-left: 1rem;
  shape-outside: circle();
}

/* Heading with icon element
 ****************************/
.heading_icon {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.heading_icon-heading {
  width: 100%;
}

/* List element
 ***************/
.alpha_list {
  list-style-type: upper-alpha;
}

.blank_list {
  list-style-type: none;
  padding: 0;
}

/* Icons list element
 *********************/
.icons_list {
  list-style-type: none;
  padding: 0;
}

.icons_list-item {
  align-items: center;
  display: flex;
}

.icons_list-item + .icons_list-item {
  margin-top: 1rem;
}

.icons_list-item > p {
  margin-left: 1rem;
}

/* Note element
 ***************/
.note {
  background: linear-gradient(to right, rgba(156,105,30,1) 0%, rgba(156,105,30,0) 90%);
  font-style: italic;
  padding: 0.368rem 1rem;
  position: relative;
}

.rulebook_expansion .note {
  background: linear-gradient(to right, rgba(103,119,148,1) 0%, rgba(103,119,148,0) 90%);
}

/**
 * Create the border as background so that we can handle the gradient
 */
.note::before {
  background: linear-gradient(to right, rgba(170,154,134,1) 0%, rgba(170,154,134,0) 90%);
  bottom: 2px;
  content: '';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.rulebook_expansion .note::before {
  background: linear-gradient(to right, rgba(157,163,175,1) 0%, rgba(157,163,175,0) 90%);
}

.note > p {
  position: relative;
}

.note_icons_list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Note with image element
 **************************/
.note_image {
  display: flex;
  position: relative;
}

.note_image > .note > p {
  width: 75%;
}

/**
 * Position the image to the note's vertical center
 */
.note_image > img {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Scores compared element
 **************************/
.banner_scoring {
  display: flex;
}

.banner_scoring-regions,
.banner_scoring-domination {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
